.rightBar {
    flex: 3;
    padding-left: 20px;
 
}

.rightBarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightBarTitle{
    margin-bottom: 20px;
}

.rightBarFriendlist {
    margin: 0;
    padding: 0;
    list-style: none;
}
.rightBarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.rightBarInfo{
    margin-bottom: 30px;
}

.rightBarInfoItem{
    margin-bottom: 20px;
}
.rightBarFollowingImg{
    width: 95px;
    height:95px;
    object-fit: cover;
    border-radius: 5px;
}

.rightBarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.rightBarInfoValue{
font-weight: 300;
}

.rightBarFollowings{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
width: 70%;

}
.rightBarFollowing{
display: flex;
flex-direction: column;
margin-bottom: 20px;
cursor: pointer;
justify-content: center;
align-items: center;
}

.rightBarFollowingName{
    font-weight: bold;
    text-decoration: none;
    color: black;
    
}

.rightBarFollowButton{
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    background-color: #1872f2;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .rightBarFollowButton:focus{
    outline: none;
  }